extends layout

block content
  .container.body-content
    .row
      if articles
        each val in articles 
          article.col-md-6
            header
              img(src=val.author.profileImage)
              h2= val.title
            .content
              if val.content.length > 25
                p= val.content.substr(0,50)+"..."
              else
                p= val.content
            h2.author= val.author.username
            br
            a.btn.btn-default.btn-md(href='/article/details/'+val.id) Details &raquo;
            if user
              if user.email === val.author.email || user.roles[1]
                a.btn.btn-default.btn-md(href='/article/edit/' + val.id) Edit &raquo;
