extends ../layout

block content
  .container.body-content
    .row
      article.col-md-6
        header
          img.details(src=article.author.profileImage)
          h2= article.title
        .content
          p= article.content
          if article.picture
            img(src=article.picture)
        h2.author= article.author.username
        footer
          a.btn.btn-default.btn-md(href='/') Back &raquo;

